<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606863817762-r46oao6dke3ma4cvllvk3ss3ckqb3u67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606863817762-r46oao6dke3ma4cvllvk3ss3ckqb3u67</string>
	<key>API_KEY</key>
	<string>AIzaSyDBrrG1CINLOD7x3mRwNiYlLT8xcu0Q7Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>606863817762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.libraphry</string>
	<key>PROJECT_ID</key>
	<string>libraphry</string>
	<key>STORAGE_BUCKET</key>
	<string>libraphry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606863817762:ios:268558b503299830321e7b</string>
	<key>DATABASE_URL</key>
	<string>https://libraphry.firebaseio.com</string>
</dict>
</plist>